.BusinessList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 2rem 10%;
}

.ResultsList {
  padding-bottom: 1rem;
  font-weight: 500;
}

@media only screen and (min-width: 560px) {
  .ResultsList {
      display: none;
  }
}